.content_home {
  margin-top: 1.2rem;
  border: 2px solid #fff;
  background-color: #fff;
  border-radius: 5px;
  display: block;
  width: 90%;
  margin: 1rem auto;
  min-height: 50vh;
}

.content_home h1 {
  text-align: center;
  padding: 0.7rem;
}

.content_home p {
  text-align: center;
  padding: 0.4rem;
  height: 50vmin;
}

@media (max-width: 768px) {
  .content_home {
    display: block;
    width: 95%;
    margin: 1rem auto;
    height: 80vh;
  }

  .content_home p {
    text-align: justify;
  }
}